<tr>
    <td>@Item.Name</td>
    <td>@Item.Height</td>
    <td>@Item.Weight</td>
    <td>@Item.Bmi.ToString("00.0")</td>
</tr>

@code {
    [Parameter]
    public BmiItem Item { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
