@page "/bmiattr"
<h3>属性指定なし</h3>

<table class="table">
    <thead class="thead-light">
        <tr>
            <td>名前</td>
            <td>身長</td>
            <td>体重</td>
            <td>BMI</td>
        </tr>
    </thead>
    @foreach(var it in Items)
    {
        <BlazorBmi.Components.BmiChildItem Name = "@it.Name" Height="@it.Height" Weight ="@it.Weight" />
    }
</table>

<h3>属性指定あり</h3>
<table class="table">
    <thead class="thead-light">
        <tr>
            <td>名前</td>
            <td>身長</td>
            <td>体重</td>
            <td>BMI</td>
        </tr>
    </thead>
    @foreach(var it in Items)
    {
        var attrs = new Dictionary<string, object>()
        {
            {"Name", it.Name },
            {"Height", it.Height },
            {"Weight", it.Weight }
        };
        <BlazorBmi.Components.BmiChildItem @attributes="attrs"/>
    }
</table>

@code {
    private List<BmiItem> Items {get; set;}

    protected override void OnInitialized()
    {
        this.Items = new List<BmiItem>();
        this.Items.Add(new BmiItem
            {
                Name = "山田太郎",
                Height = 160.0,
                Weight = 50.0,
            });
        this.Items.Add(new BmiItem
            {
                Name = "山田花子",
                Height = 150.0,
                Weight = 45.0,
            });
        this.Items.Add(new BmiItem
            {
                Name = "山田次郎",
                Height = 170.0,
                Weight = 60.0,
            });
    }
}
